.hero {
    width: 100%;
    height: 100vh;

}
.hero__container {
    position: relative;
    width: 100%;
    height: 100%;

}

.hero__content-wrapper {
    width: 1136px;
    margin: 0 auto;
}

.hero__item {
    min-height: 500px;
}
.hero__content {
    width: 850px;
    padding-top: 100px;
}
.hero__title {
    line-height: 88px;
    font-size: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__text {
    line-height: 48px;
    font-size: 32px;

    color: #FFFFFF;
}
.hero__picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.hero__button-prev {
    background-color: #FFF;
    width: 80px;
    height: 80px;
    border-radius: 0 50% 50% 0;
    left: 0;
}

.hero__button-next {
    background-color: #FFF;
    width: 80px;
    height: 80px;
    border-radius: 50% 0 0 50%;
    right: 0;
}