.services {
    background: url("../../images/map-bg.png");
    margin: 0 20px;
}

.services__container {
    max-width: 1136px;
    margin: 0 auto;
}

.services__list {
    display: flex;
    flex-wrap: wrap;

}

.services__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
}

@media screen and (min-width: 768px){
    .services__item {
        width: 50%;
    }
}


.services__title {
    line-height: 53px;
    font-size: 40px;

    color: #066271;

}

.services__strip {
    width: 80px;
    height: 2px;
    background: #056474;
    margin-top: 25px;

}

.services__text {
    line-height: 24px;
    font-size: 16px;

    color: #5A6D70;
}

.services__partners {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.services__partners-number {
    line-height: 64px;
    font-size: 48px;

    color: #066271;
}

.services__partners-text {
    line-height: 21px;
    font-size: 16px;

    color: #066271;
}